argcomplete==3.6.2
userpath==1.9.2
imageio-ffmpeg==0.6.0
pipx==1.7.1
imbalanced-learn==0.12.0
pydantic_core==2.41.1
fpdf==1.7.2
sip==6.6.2
shellingham==1.5.4
weave==0.52.20
pkce==1.0.3
cymem==2.0.11
datashader==0.15.2
sphinxcontrib-serializinghtml==1.1.5
cint==1.0.0
dask==2023.6.0
pyasn1==0.4.8
conda-libmamba-solver==23.7.0
pydantic-settings==2.11.0
kaitaistruct==0.11
praw==7.8.1
python-slugify==5.0.2
hvplot==0.8.4
pylibjpeg==2.1.0
h5py==3.9.0
qtconsole==5.4.2
nibabel==5.3.2
threadpoolctl==3.6.0
conda-verify==3.4.2
coloredlogs==15.0.1
marisa-trie==1.3.1
uri-template==1.3.0
humanfriendly==10.0
docstring_parser==0.17.0
dash-daq==0.5.0
pep8==1.7.1
libclang==16.0.6
rfc3339-validator==0.1.4
langchain-openai==0.3.35
backports.tempfile==1.0
executing==0.8.3
update-checker==0.18.0
llama-index-readers-file==0.5.4
docstring-to-markdown==0.11
pypdf==6.1.1
text-unidecode==1.3
PyWavelets==1.4.1
pylibjpeg-libjpeg==2.3.0
queuelib==1.5.0
fqdn==1.5.1
llama-index-workflows==2.7.1
decorator==5.1.1
webdriver-manager==4.0.1
prompt-toolkit==3.0.36
gmpy2==2.1.2
requests==2.32.5
filelock==3.16.1
filelock==3.18.0
xgboost==2.0.3
notebook==6.5.4
contourpy==1.0.5
numba==0.57.1
Werkzeug==2.2.3
language_data==1.3.0
tokenizers==0.22.1
altair==5.2.0
msal-extensions==1.2.0
llama-index-indices-managed-llama-cloud==0.9.4
url-normalize==1.4.3
mdit-py-plugins==0.3.0
nest-asyncio==1.6.0
jupyter_server_ydoc==0.8.0
pyarrow==21.0.0
tables==3.8.0
jaraco.classes==3.2.1
distlib==0.3.9
tensorboard==2.15.1
charset-normalizer==2.0.4
smmap==5.0.1
scikit-network==0.33.3
rank-bm25==0.2.2
jupyter-ydoc==0.2.4
multipledispatch==0.6.0
SQLAlchemy==2.0.43
Markdown==3.4.1
termcolor==2.4.0
azure-common==1.1.28
pandocfilters==1.5.0
diskcache==5.6.3
build==1.3.0
ptyprocess==0.7.0
tensorflow-estimator==2.15.0
outcome==1.3.0.post0
cssselect2==0.7.0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
statsmodels==0.14.0
isoduration==20.11.0
Unidecode==1.2.0
nbclient==0.5.13
pandas==2.1.4
partd==1.4.0
tensorflow-macos==2.15.0
pdfkit==1.0.0
keyring==23.13.1
dash==2.17.0
astropy==5.1
pycosat==0.6.4
GitPython==3.1.43
toml==0.10.2
spyder-kernels==2.4.4
llama-index-core==0.14.4
flake8==6.0.0
python-lsp-jsonrpc==1.0.0
chromadb==1.1.1
lazy_loader==0.2
overrides==7.7.0
multidict==6.0.2
responses==0.13.3
colorama==0.4.6
python-dateutil==2.8.2
constantly==15.1.0
ipykernel==6.25.0
pylint-venv==2.3.0
tinycss2==1.4.0
tinycss2==1.3.0
tensorflow-io-gcs-filesystem==0.34.0
langchain==0.3.27
smart-open==5.2.1
pyerfa==2.0.0
tldextract==3.2.0
intervaltree==3.1.0
trio==0.25.0
pydeck==0.9.1
parsel==1.6.0
Pygments==2.15.1
jsonschema-specifications==2025.9.1
datashape==0.5.4
gql==4.0.0
kubernetes==34.1.0
ticker==0.13
entrypoints==0.4
et-xmlfile==1.1.0
astunparse==1.6.3
llama-index==0.14.4
rope==1.7.0
tornado==6.3.2
pathspec==0.10.3
itemadapter==0.3.0
pytest==9.0.1
immutabledict==4.2.1
async-timeout==4.0.2
python-json-logger==2.0.7
python-lsp-server==1.7.2
nbformat==5.9.2
tomlkit==0.11.1
networkx==3.1
cytoolz==0.12.0
ragas==0.3.6
defusedxml==0.7.1
jedi==0.18.1
pypdfium2==4.30.1
anaconda-navigator==2.5.2
stack-data==0.2.0
anyio==4.11.0
google-pasta==0.2.0
pandoc==2.4
Flask-Cors==4.0.1
Levenshtein==0.23.0
pickleshare==0.7.5
propcache==0.4.1
jupyterlab==4.4.9
conda-repo-cli==1.0.75
attrs==25.3.0
attrs==23.2.0
fickling==0.1.5
py-cpuinfo==8.0.0
python-dotenv==1.1.1
Rtree==1.0.1
Bottleneck==1.3.5
azure-search-documents==11.5.2
async-lru==2.0.5
py4j==0.10.9.7
spacy-legacy==3.0.12
ansi2html==1.9.1
locket==1.0.0
bokeh==3.2.1
torch==2.8.0
msgpack==1.0.3
gitdb==4.0.11
bleach==4.1.0
orjson==3.11.3
tenacity==9.1.2
websocket-client==1.9.0
huggingface-hub==0.35.3
pylibsrtp==1.0.0
parso==0.8.3
ipython==8.15.0
six==1.16.0
pathlib==1.0.1
mypy-extensions==1.0.0
h11==0.14.0
langchain-community==0.3.31
jupyterlab-widgets==3.0.5
pip==25.3
ipywidgets==8.0.4
pyasn1-modules==0.2.8
kiwisolver==1.4.4
incremental==21.3.0
plotly==5.9.0
adal==1.2.7
shap==0.44.0
scikit-image==0.20.0
appnope==0.1.2
jupyter-console==6.6.3
msal==1.31.1
anaconda-anon-usage==0.4.2
statsbombpy==1.12.0
webencodings==0.5.1
llama-index-cli==0.5.3
black==25.9.0
spacy-loggers==1.0.5
inflection==0.5.1
pybase64==1.4.2
future==0.18.3
hyperlink==21.0.0
mplcursors==0.5.2
ml-dtypes==0.2.0
findspark==2.0.1
typing-inspect==0.9.0
cloudpickle==2.2.1
aiofiles==22.1.0
pytz==2023.3.post1
click==8.3.0
selenium==4.19.0
clyent==1.2.2
isort==5.9.3
navigator-updater==0.4.0
regex==2022.7.9
asttokens==2.0.5
conda==23.7.4
googleapis-common-protos==1.70.0
pathlib2==2.3.7.post1
ruamel-yaml-conda==0.17.21
importlib-metadata==6.0.0
ipympl==0.9.7
uvicorn==0.37.0
Sphinx==5.0.2
PySocks==1.7.1
llama-index-llms-openai==0.6.4
traitlets==5.7.1
rich==13.7.1
cffi==2.0.0
lark==1.3.0
pyphen==0.15.0
catalogue==2.0.10
Babel==2.11.0
PyQt5-sip==12.11.0
tqdm==4.67.1
durationpy==0.10
opentelemetry-exporter-otlp-proto-common==1.37.0
QtPy==2.2.0
psutil==5.9.0
scikit-learn==1.6.1
scikit-learn==1.4.0
zstandard==0.25.0
inflect==7.0.0
pyct==0.5.0
jsonpatch==1.33
argon2-cffi==21.3.0
patsy==0.5.3
dnspython==2.8.0
tifffile==2023.4.12
anaconda-project==0.11.1
numpy==1.26.4
dill==0.3.6
MarkupSafe==2.1.1
rapidfuzz==3.6.1
jmespath==0.10.0
applaunchservices==0.3.0
certifi==2025.8.3
tzdata==2023.3
pycoingecko==3.2.0
numexpr==2.8.4
weasel==0.4.1
lxml==4.9.3
pkginfo==1.9.6
mmh3==5.2.0
cookiecutter==1.7.3
rpds-py==0.27.1
holoviews==1.17.1
wurlitzer==3.0.2
dirtyjson==1.0.8
streamlit-webrtc==0.64.0
pyls-spyder==0.4.0
tabulate==0.8.10
markdown-it-py==2.2.0
confection==0.1.5
debugpy==1.6.7
sentence-transformers==5.1.1
jellyfish==1.0.1
colorcet==3.0.1
ifaddr==0.2.0
blinker==1.8.2
botocore==1.29.76
linkify-it-py==2.0.0
prettytable==3.10.0
sphinxcontrib-applehelp==1.0.2
glob2==0.7
msrest==0.7.1
pyviz-comms==2.3.0
aioitertools==0.7.1
arrow==1.2.3
stdlib-list==0.11.1
pydyf==0.10.0
pip-system-certs==4.0
appdirs==1.4.4
llama-parse==0.6.54
pyflakes==3.0.1
idna==3.4
cattrs==23.2.3
kaleido==0.2.1
QDarkStyle==3.0.2
portalocker==2.10.1
zict==2.2.0
sympy==1.14.0
dicom==0.9.9.post1
dicom==0.9.9.post1
jsonschema==4.25.1
jupyter_client==7.4.9
wrapt==1.14.1
dataclasses-json==0.6.7
atomicwrites==1.4.0
oauthlib==3.2.2
pyrsistent==0.18.0
XlsxWriter==3.2.0
intake==0.6.8
sphinxcontrib-jsmath==1.0.1
graphql-core==3.2.7
watchdog==2.1.6
llama-cloud-services==0.6.54
pycparser==2.21
torchvision==0.23.0
weasyprint==62.1
hf-xet==1.1.10
tiktoken==0.12.0
langdetect==1.0.9
google-auth==2.25.2
jupyter_core==5.3.0
pyobjc-framework-CoreServices==9.0
diff-match-patch==20200713
yapf==0.31.0
llvmlite==0.40.0
opentelemetry-sdk==1.37.0
conda_index==0.3.0
prawcore==2.4.0
pure-eval==0.2.2
backports.weakref==1.0.post1
backports.functools-lru-cache==1.6.4
isodate==0.7.2
backcall==0.2.0
referencing==0.36.2
conda-content-trust==0.2.0
gast==0.5.4
fonttools==4.25.0
wheel==0.38.4
platformdirs==4.5.0
lz4==4.3.2
transformers==4.57.0
cycler==0.11.0
openai==1.109.1
pydicom==3.0.1
Send2Trash==1.8.3
eurostat==1.1.0
pytoolconfig==1.2.5
smote==0.1
google-crc32c==1.7.1
pyodbc==4.0.34
pycodestyle==2.10.0
Deprecated==1.2.18
conda_package_streaming==0.9.0
sniffio==1.3.1
tblib==1.7.0
iniconfig==1.1.1
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.6
torchinfo==1.8.0
PyJWT==2.4.0
pylint==2.16.2
fastjsonschema==2.16.2
setuptools==80.9.0
httptools==0.7.1
python-Levenshtein==0.23.0
requests-cache==1.1.1
requests-file==1.5.1
nbclassic==0.5.5
opencv-python-headless==4.12.0.88
joblib==1.2.0
terminado==0.17.1
langsmith==0.4.34
pytokens==0.1.10
tensorflow==2.15.0
pdfplumber==0.11.8
plumbum==1.9.0
itemloaders==1.0.4
mpmath==1.3.0
ipython-genutils==0.2.0
langchain-text-splitters==0.3.11
cloudpathlib==0.23.0
PyYAML==6.0.3
murmurhash==1.0.13
av==16.0.1
xyzservices==2022.9.0
catboost==1.2.2
rfc3987-syntax==1.1.0
mccabe==0.7.0
pyobjc-framework-Cocoa==9.0
sortedcontainers==2.4.0
ujson==5.4.0
kagglehub==0.3.13
rsa==4.9
streamlit==1.51.0
reportlab==4.2.0
sphinxcontrib-htmlhelp==2.0.0
slicer==0.0.7
pyee==13.0.0
abnf==2.2.0
Automat==20.2.0
binaryornot==0.4.4
srsly==2.5.1
chardet==5.2.0
llama-index-instrumentation==0.4.1
langchain-core==0.3.79
pdfminer.six==20250506
jupyter-events==0.12.0
html5lib==1.1
jupyter==1.0.0
striprtf==0.0.26
bcrypt==5.0.0
llama-index-readers-llama-parse==0.5.1
typing_extensions==4.15.0
aiosignal==1.4.0
wasabi==1.1.3
pyspark==3.5.3
conda-package-handling==2.2.0
imagesize==1.4.1
keras==2.15.0
aiosqlite==0.18.0
sphinxcontrib-qthelp==1.0.3
blis==1.2.1
Brotli==1.1.0
packaging==25.0
fsspec==2025.9.0
jupyterlab_server==2.27.3
trio-websocket==0.11.1
jupyter_server==2.17.0
qstylizer==0.2.2
poyo==0.5.0
QtAwesome==1.2.2
webcolors==24.11.1
absl-py==2.0.0
httpcore==1.0.7
pexpect==4.8.0
imageio==2.31.1
dash-table==5.0.0
msrestazure==0.6.4.post1
imagecodecs==2023.1.23
aioice==0.10.1
llama-cloud==0.1.35
httpx-sse==0.4.2
onnxruntime==1.23.1
Jinja2==3.1.6
virtualenv==20.28.1
opencv-python==4.11.0.86
langcodes==3.5.0
playwright==1.49.1
cachetools==5.3.2
python-multipart==0.0.20
jinja2-time==0.2.0
jupyter-dash==0.4.2
fastapi==0.121.3
conda-pack==0.6.0
pyobjc-core==9.0
frozenlist==1.3.3
appscript==1.1.2
panel==1.2.3
Scrapy==2.8.0
astroid==2.14.2
distro==1.9.0
pycurl==7.45.2
w3lib==1.21.0
wcwidth==0.2.5
docutils==0.18.1
python-lsp-black==1.2.1
jiter==0.8.2
xlwings==0.29.1
conda-token==0.4.0
pluggy==1.6.0
polyfile-weave==0.5.7
pydocstyle==6.3.0
comm==0.1.2
opentelemetry-proto==1.37.0
typer==0.19.2
opt-einsum==3.3.0
azure-storage-blob==12.24.0
PyMuPDF==1.26.4
rfc3986-validator==0.1.1
datasets==4.2.0
simpleitk==2.5.2
munkres==1.1.4
aiohappyeyeballs==2.6.1
fuzzywuzzy==0.18.0
PyDispatcher==2.0.5
dash-core-components==2.0.0
brotlipy==0.7.0
more-itertools==8.12.0
widgetsnbextension==4.0.5
websockets==15.0.1
jupyter_server_fileid==0.9.0
jsonpointer==2.1
requests-toolbelt==1.0.0
pyOpenSSL==25.3.0
watchfiles==1.1.0
soupsieve==2.4
snowballstemmer==2.2.0
opentelemetry-api==1.37.0
argon2-cffi-bindings==21.2.0
ruamel.yaml==0.17.21
anaconda-cloud-auth==0.1.3
lmdb==1.4.1
jupyter-lsp==2.3.0
pyobjc-framework-FSEvents==9.0
banks==2.2.0
openpyxl==3.0.10
nltk==3.9.2
httpx==0.28.1
spyder==5.4.3
pydantic==2.12.0
Protego==0.1.16
azure-core==1.32.0
xxhash==2.0.2
itsdangerous==2.0.1
python-snappy==0.6.1
ply==3.11
notebook_shim==0.2.2
mistune==0.8.4
Flask==2.2.2
libarchive-c==2.9
jupyterlab-pygments==0.1.2
pillow==11.3.0
graphviz==0.20.1
backoff==2.2.1
whatthepatch==1.0.2
dash-dangerously-set-inner-html==0.0.2
cryptography==46.0.3
tensorboard-data-server==0.7.2
anaconda-client==1.12.1
alabaster==0.7.12
opentelemetry-semantic-conventions==0.58b0
ypy-websocket==0.8.2
llama-index-embeddings-openai==0.5.1
cssselect==1.1.0
json5==0.9.6
y-py==0.5.9
filetype==1.2.0
aiohttp==3.13.0
toolz==0.12.0
anaconda-catalogs==0.2.0
starlette==0.50.0
s3fs==2023.4.0
faiss-cpu==1.12.0
jupyter_server_terminals==0.5.3
zipp==3.11.0
posthog==5.4.0
grpcio==1.75.1
pyproject_hooks==1.2.0
zopfli==0.2.3
zope.interface==5.4.0
scipy==1.11.1
prometheus-client==0.14.1
mplsoccer==1.2.2
uvloop==0.21.0
preshed==3.0.10
nbconvert==6.5.4
beautifulsoup4==4.14.2
marshmallow==3.26.1
HeapDict==1.0.1
urllib3==1.26.16
typing-inspection==0.4.2
numpydoc==1.5.0
google-auth-oauthlib==1.2.0
dash-bootstrap-components==1.6.0
aiobotocore==2.5.0
param==1.13.0
three-merge==0.1.1
distributed==2023.6.0
annotated-types==0.7.0
matplotlib==3.7.2
wsproto==1.2.0
spacy==3.8.7
PyPDF2==3.0.1
autopep8==1.6.0
gensim==4.3.0
safetensors==0.6.2
libmambapy==1.5.1
griffe==1.14.0
conda-build==3.26.1
aiortc==1.14.0
waitress==3.0.2
PyPika==0.48.9
pyparsing==3.0.9
seaborn==0.12.2
wandb==0.23.0
yarl==1.22.0
boltons==23.0.0
Twisted==22.10.0
importlib_resources==6.5.2
multiprocess==0.70.14
pyzmq==27.1.0
greenlet==3.1.1
lightgbm==4.1.0
flatbuffers==23.5.26
protobuf==4.25.1
thinc==8.3.4
uc-micro-py==1.0.1
sentry-sdk==2.46.0
pypandoc==1.15
textdistance==4.2.1
eli5==0.13.0
instructor==1.11.3
azure-identity==1.19.0
requests-oauthlib==1.3.1
retrying==1.3.4
microsoft-bing-websearch==1.0.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
Flask-Login==0.6.3
annotated-doc==0.0.4
xarray==2023.6.0
dash-html-components==2.0.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
packaging==24.2
wheel==0.45.1
zipp==3.19.2
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
